body {
    background-position: top right;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url('/images/businesscat.png');
}

.jumbotron {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2em;
}

.jumbotron .leader {
    text-align: center;
}

.header {
    text-align: center;
    padding-bottom: 2em;
    font-family: 'Quicksand', sans-serif;
    color: white;
    text-transform: uppercase;
    max-width: 100w;
}

.header h1 {
    font-size: 8em;
}

@media screen and (max-width: 480px) {
    .header h1 {
        font-size: 64px;
    }
}

.header h4 {
    font-size: 2.9em;
}

#success-message, #failure-message {
    display: none;
    width: 100%;
}

.example {
    border-radius: 4px;
    text-align: center;
    margin-bottom: 2em;
    cursor: pointer;
}

#meme-output {
    border-radius: 4px;
    text-align: center;
    margin-bottom: 2em;
}

button {
    width: 100%;
}

button.close {
    width: auto;
}

#demo-meme {
    max-width: 340px;
    max-height: 332px;
    margin-bottom: 8px;
}

.tt-menu {
    max-height: 150px;
    overflow-y: auto;
}

.typeahead-result {
    min-height: 46px;
}

.typeahead-result span {
    vertical-align: middle;
}

.typeahead-result img {
    height: 40px;
}

.typeahead-result div {
    float: right;
    width: 40px;
    height: 40px;
    overflow: hidden;
}

@media screen and (min-width: 992px) {
    #demo-text {
        border-radius: 0;
        border-right: 0;
    }

    #demo button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}


#memes-in-slack span {
    vertical-align: middle;
}

#memes-in-slack img {
    height: 78px;
}

@media screen and (max-width: 768px) {
    #memes-in-slack img {
        height: 50px;
    }
}

@media screen and (max-width: 620px) {
    #add-to-slack-success, #add-to-slack-failure, #add-to-slack-denied, #demo-meme-popup, #upgrade-slack-modal {
        min-width: auto;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

#footer {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1em;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.slacky-modal-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-position: top right;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url('/images/businesscat.png');
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    -o-filter: blur(2px);
    filter: blur(2px);
}

.slacky-modal-cover {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 3;
    background: rgba( 0, 0, 0, 0.5 );
}

.slacky-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100;
    padding: 20px;
    overflow-y: auto;
    max-width: 100%;
    max-height: 100%;

    background: white;
    box-shadow: 0px 0px 20px rgba( 0, 0, 0, 0.6 );
    border-radius: 3px;

    -webkit-transform: translate(-50%, -50%) scale( 0.8 );
    -moz-transform: translate(-50%, -50%) scale( 0.8 );
    -ms-transform: translate(-50%, -50%) scale( 0.8 );
    -o-transform: translate(-50%, -50%) scale( 0.8 );
    transform: translate(-50%, -50%) scale( 0.8 );
}