body {
    background-position: top right;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url('/images/businesscat.png');
}

.jumbotron {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2em;
}

.jumbotron .leader {
    text-align: center;
}

.header {
    text-align: center;
    padding-bottom: 2em;
    font-family: 'Quicksand', sans-serif;
    color: white;
    text-transform: uppercase;
    max-width: 100w;
}

.header h1 {
    font-size: 8em;
}

@media screen and (max-width: 480px) {
    .header h1 {
        font-size: 64px;
    }
}

.header h4 {
    font-size: 2.9em;
}

#success-message, #failure-message {
    display: none;
}

.example {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2em;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 2em;
}